*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.bg{
   
    
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100px; */
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) url('Frame 3.jpg');
    background-blend-mode: darken;
    
}
body{
    background: #10b3fA;
}
#header{
    display: inline-flex;
    background-color: white;
    border-bottom-left-radius: 12px ;
    border-bottom-right-radius: 12px;
    border-bottom-style: solid ;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
 
    opacity: 50%;

}
#login{
    margin-left: 720px;
    margin-top: 2rem;
    margin-right: 4rem;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2rem;
    color: black;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    transition: all .2s ease;
    background-color: white;
}
#SignUp{
    /* margin-left: 100vh; */
    margin-top: 2rem;
    margin-right: 4rem;
    padding-top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 2rem;
    border-radius: 4px;
    background-color: black;
    color: white;
    border-width: 0px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease;
    
}
#logo{
    margin-left: 4rem;
    padding-top: 1rem;

}
#loginDiv{
    
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    margin-left: 400px;
    margin-top: 100px;
    height: 500px;
    width: 600px;
    position:absolute;
    background-color: rgba(241, 246, 246, 1);
    border-radius: 12px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    /* visibility: hidden; */
    /* display: none; */

}

#upper{
    position: absolute;
    background-color: white;
    border-radius: 12px;
    width: 580px;
    margin-bottom: 390px;
    padding-bottom: 50px;

}
#userName{
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 15px;
    
    font-size: 25px;

}

#upperList{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 100px;
    position: absolute;
   color: rgba(95, 91, 91, 1);
   font-size: 15px;
}
#mail{
    margin-left: 2rem;
    margin-right: 2rem;
}

#cancel{
    position: absolute;
    z-index: 4;
    /* position:absolute; */
    margin-left: 480px;
    /* margin-bottom: 100px; */
    background-color: white;
    border: 1px solid black;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    transition: all 0.2s ease;
    margin-bottom: 430px;
    
}
#cancel:hover{
    position: absolute;
    background-color: black;
    color: white;
    transform: scale(1.1);
}

#cancel:active{
    transform: scale(.96);
}

#lower{
    height: 380px;
    width: 580px;
    background-color: white;
    position: absolute;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 12px;
}

#chooseMethod{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;

}

#paymentMethods{
    position: absolute;
    background-color: rgba(213, 213, 213, 1);
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 170px;
    padding-bottom: 10px;
    border-radius: 8px;
}

#upiButton{
    background-color: rgba(213, 213, 213, 1);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 8px;
    transition: all .4s ease-in;
}
/* #upiButton:hover{
    transform: scale(1.1);
} */
#upiButton:active{
    background-color: white;
    transform: scale(.96);

}
#upiButton:focus{
    background-color: white;
}

#CButton{
    background-color: rgba(213, 213, 213, 1);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 8px;
    transition: all .4s ease;
}

#CButton:active{
    background-color: white;
    transform: scale(.96);
}
/* #CButton:hover{
    transform: scale(1.1);
} */
#CButton:focus{
    background-color: white;
}

#EmiButton{
    background-color: rgba(213, 213, 213, 1);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 8px;
    transition: all .4s ease;
}

#EmiButton:active{
    background-color: white;
    transform: scale(.96);
}
/* #EmiButton:hover{
    transform: scale(1.1);
} */
#EmiButton:focus{
    background-color: white;
}

#NetbankingButton{
    background-color: rgba(213, 213, 213, 1);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 8px;
    transition: all .4s ease;
}

#NetbankingButton:active{
    background-color: white;
    transform: scale(.96);
}
/* #NetbankingButton:hover{
    transform: scale(1.1);
} */
#NetbankingButton:focus{
    background-color: white;
}
#WalletsButton{
    background-color: rgba(213, 213, 213, 1);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 8px;
    transition: all .4s ease;
}

#WalletsButton:active{
    background-color: white;
    transform: scale(.96);
}
/* #WalletsButton:hover{
    transform: scale(1.1);
} */
#WalletsButton:focus{
    background-color: white;
}

#paymentDet{
    height: 310px;
    width: 300px;
    background-color: rgba(241, 246, 246, 1);
    margin-left: 185px;
    padding-right: 85px;
    border-radius: 12px;
}

#paymentButton{
    position: absolute;
    z-index: 3;
    margin-top: 400px;
    margin-left: 465px;
    background-color: rgba(241, 246, 246, 1);
    color: black;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    transition: all .2s ease;
}
#paymentButton:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);

}
#paymentButton:active{

    transform: scale(.96);
    
}
